[data-drawer_active='true'] {
  .header {
    margin-left: 296px;
    margin-right: -296px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 22;
  transition: var(--motion-duration-medium-1);
  min-height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  transform: translateY(0);

  &.scroll {
    position: absolute;
    transform: translateY(-100%);
  }
}

.header-top {
  background-color: var(--section-background);
  font-size: 1.1rem;
  transition: var(--motion-duration-short-1);

  .container {
    display: flex;
    align-items: center;
  }
  .left-part {
    width: 100%;
    height: 4.1rem;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
    will-change: transform;

    p {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      animation: marquee 10s linear infinite;
      top: 50%;
    }
  }

  .right-part {
    flex: 1;

    .menu {
      display: flex;
      gap: 24px;
      align-items: center;
    }
    .divider {
      display: none;
    }
    .dropdown {
      position: relative;
    }
    .dropdown-button {
      padding-block: 14px;
      display: flex;
      align-items: center;
      gap: 2px;
      cursor: pointer;
    }
  }
  .top-links {
    display: none;
  }
}

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: auto;
  box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
  z-index: 20;
  padding-block: 0.5rem;
  background-color: var(--site-background);
  left: -10px;
  top: 38px;
  transition: var(--motion-duration-short-1);

  &::after {
    content: '';
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    background-color: var(--site-background);
    position: absolute;
    top: -25px;
    left: 50%;
    width: 50%;
    height: 25px;
    transform: translateX(-50%);
  }
  .dropdown-item {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: var(--motion-duration-medium-1);

    &:hover {
      color: var(--main-text-color);
      transition: var(--motion-duration-medium-1);
    }
  }
}
.dropdown:hover .dropdown-list {
  top: 43px;
  opacity: 1;
  visibility: visible;
}
.header-middle {
  padding-block: 14px;
  height: 72px;
  background: var(--site-background);
  transition: var(--motion-duration-medium-1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-part {
      display: flex;
      flex: 1;
    }
    .logo {
      margin: 0 auto;
    }
  }
  .header-search {
    display: none;
  }
  .header-call {
    display: none;
  }
  .wishlist-btn span {
    display: none;
  }
  .cart-btn {
    position: relative;

    .badge {
      position: absolute;
      right: 2px;
      font-size: 0.8rem;
      width: 1.5rem;
      height: 1.5rem;
      background: var(--main-text-color);
      color: #ffffff;
      border-radius: var(--circle-radius);
      display: grid;
      place-content: center;
    }
    .cart-label {
      display: none;
    }
  }

  &.scroll {
    transition: var(--motion-duration-medium-1) var(--motion-easing-ease-in-out);
  }

  .right-part {
    display: flex;
    align-items: center;
  }
}
.sticky-content-wrapper {
  display: none;
}
@keyframes marquee {
  from {
    transform: translate(100%, -50%);
  }
  to {
    transform: translate(-100%, -50%);
  }
}
