.wishlist {
  .action-product {
    padding-inline: 1rem;

    button {
      border-width: 1px;
      height: fit-content;
      &:where(.remove, .view) span:first-child {
        display: none;
      }
    }

    .view,
    .remove {
      background-color: transparent;
    }
  }

  .table-title {
    font-size: 2.4rem;
    font-weight: var(--weight-extra-bold);
    margin-bottom: 2.4rem;
  }

  .share-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding-block-start: 2.2rem;
    margin-block-start: 2.2rem;

    p {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: var(--weight-extra-bold);
    }
  }
  .social-links-wrapper {
    margin: 0;
  }
}
.empty-table-message {
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-block: 2rem;
  margin-block-end: 1.5rem;
}
.wishlist td :where(span, button) {
  display: inline-block;
}
.wishlist .action-product button {
  margin: auto 0.25rem;
}
.wishlist .table-wrapper {
  max-height: 60rem;
}
.wishlist td {
  width: 5%;
}

@media only screen and (min-width: 992px) {
  .wishlist .share-links {
    align-items: center;
    justify-content: flex-start;
  }
  .wishlist .share-links p {
    margin: unset;
    max-width: fit-content;
  }
}
