.cart {
  button {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border-width: 1.4px;
  }
  .product-price-table span {
    display: inline-block;
  }
}
.coupon-form {
  padding-block-start: 3rem;
  padding-block-end: 1rem;

  .coupon-title {
    font-size: 1.6rem;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
  }
  .form-control {
    min-height: 4.7rem;
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    font-size: 1.4rem;
    border-radius: var(--small-radius);
    margin-block-end: 1rem;
  }
  .btn {
    padding: 1.4rem 2.8rem;
    height: 4.7rem;
    width: 100%;
    border-color: var(--border-color);

    &:hover {
      border-color: var(--main-text-color);
    }
  }
}
/* PRODUCT SUMMRY */
.sticky-sidebar {
  position: relative;

  .products-summary {
    padding: 2rem 3rem;
    border: 1px solid var(--border-color);
    margin-block-start: 6.5rem;
    border-radius: var(--small-radius);
  }
  .cart-title {
    margin-block-end: 1.4rem;
    padding-bottom: 1.4rem;
    border-bottom: 1px dotted var(--border-color);
  }
  .cart-price {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.4rem;
    margin-block-end: 1.4rem;
    border-bottom: 1px solid var(--border-color);

    p {
      font-weight: var(--weight-extra-bold);
    }

    &.total {
      border-bottom: none;
      border-top: 1px solid var(--border-color);
      margin-block-start: 2rem;
    }
  }

  .shipping-methods {
    h4 {
      margin-block-end: 1rem;
    }
    .shipping-list {
      display: flex;
      flex-direction: column;
    }
    .shipping-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      line-height: 2.7;
    }
    input {
      width: fit-content;
    }
    label {
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }

  .shipping-calculator {
    .shipping-distructions {
      margin-block: 1.4rem;
      text-transform: capitalize;
      font-weight: var(--weight-medium);

      strong {
        color: var(--secondary-text-color);
      }
    }

    .btn {
      width: 100%;
    }

    .cart-action {
      margin: 0;
      padding-block: 0;

      button {
        color: #ffffff;
      }
      .apply {
        grid-column: 1 / -1;
      }

      .cart-clear {
        grid-column: 1 / -1;
        background-color: #ff4444;
        border-color: #ff4444;
        &:hover {
          background-color: #cc0000;
          border-color: #cc0000;
        }
      }
      .checkout {
        grid-column: 1 / -1;

        &:hover {
          background-color: #28a745;
          border-color: #28a745;
        }
      }
    }
  }
}
.empty-cart-message {
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-block: 2rem;
  margin-block-end: 1.5rem;
}
