.intro-slide {
  min-height: 520px;
  height: 100%;
}
.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 445px;
  background-color: rgb(240, 241, 242);
  width: 100%;

  .banner-img {
    width: 48rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    span {
      display: inline-block;
    }
    .banner-subtitle {
      color: var(--default-text-color);
      margin-block-end: 10px;
      text-transform: capitalize;
      font-size: 3rem;
    }
    .banner-title {
      color: var(--primary-color);
      text-transform: uppercase;
      font-weight: var(--weight-extra-bold);
      font-size: 4rem;
      margin-block-end: 0.25rem;
      letter-spacing: -2px;
    }
    p {
      margin-bottom: 1.8rem;
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: var(--weight-semi-bold);
      text-transform: capitalize;
      color: var(--default-text-color);

      span {
        color: var(--secondary-text-color);
        font-weight: var(--weight-extra-bold);
      }
    }
    a {
      width: fit-content;
      position: absolute;
    }
  }
}
.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

[data-scheme='light'] .first-banner {
  background-image: url('../../assets/images/slides/slide-1.jpg');
}
[data-scheme='dark'] .first-banner {
  background-image: url('../../assets/images/slides/slide-dark-1.jpg');
}

.first-banner {
  .banner-img {
    right: 50%;
    /* opacity: 0; */
  }
  .banner-content {
    right: 15px;
    text-align: right;
    a {
      right: 30px;
    }

    & :where(.banner-subtitle, .banner-title, p, a) {
      transition: var(--motion-duration-short-2);
      /* opacity: 0; */
    }
  }
  .banner-subtitle {
    margin-right: 30px;
    animation-delay: 0.5s;

    span {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: calc(100% + 8px);
        height: 3px;
        background: var(--secondary-text-color);
        position: absolute;
        bottom: 0px;
        right: -4px;
      }
    }
  }
  .banner-title {
    margin-right: 30px;
    animation-delay: 1.25s;
  }
  p {
    margin-right: 30px;
    animation-delay: 2s;
  }
  a {
    animation-delay: 3s;
  }
}

[data-scheme='light'] .second-banner {
  background-image: url('../../assets/images/slides/slide-2.jpg');
}
[data-scheme='dark'] .second-banner {
  background-image: url('../../assets/images/slides/slide-dark-2.jpg');
}

.second-banner {
  .banner-img {
    left: 50%;
  }
  .banner-content {
    left: 15px;
    text-align: left;

    a {
      left: 0;
    }
  }
  .banner-subtitle {
    span {
      color: var(--secondary-text-color);
    }
  }
  p {
    text-transform: none !important;
  }
}

[data-scheme='light'] .third-banner {
  background-image: url('../../assets/images/slides/slide-3.jpg');
}
[data-scheme='dark'] .third-banner {
  background-image: url('../../assets/images/slides/slide-dark-3.jpg');
}

.third-banner {
  .banner-img {
    width: 32rem;
    right: 62%;
  }
  .banner-content {
    right: 15px;
    text-align: right;

    h5 {
      font-size: 2rem !important;
    }
    p {
      font-size: 2.6rem;
      font-weight: var(--weight-medium);
    }
    .banner-title {
      font-size: 3.5rem;
      line-height: 4rem;
      position: relative;
      margin-block-end: 1.8rem;

      span {
        color: #ffffff;
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        border-radius: var(--small-radius);
        background: var(--secondary-text-color);
      }
      &::before {
        width: 140px;
        height: 44px;
        top: -22px;
        left: -7px;
        transform: translateY(50%) skewX(-20deg);
      }
      &::after {
        width: calc(100% - 22px);
        height: 4px;
        left: 22px;
      }
    }

    a {
      right: 0;
    }
  }
}

.slick-slider {
  .slick-dots {
    bottom: 35px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);

    li {
      width: 5px;
      height: 5px;
      transition: var(--motion-duration-short-2);
      &.slick-active {
        width: 25px;
        button {
          background-color: var(--main-text-color);
        }
      }
    }
    button {
      transition: var(--motion-duration-short-2);
      background: var(--alpha-20);
      width: 100%;
      height: 100%;
      border-radius: var(--circle-radius);

      &::before {
        display: none;
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

/* FEATURE */
.features {
  margin-block: 30px;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.feature-box {
  padding-block: 20px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: var(--small-radius);

  svg {
    font-size: 3.2rem;
    color: var(--main-text-color);
  }

  .box-title {
    font-size: 1.4rem;
    font-weight: var(--weight-extra-bold);
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  p {
    font-size: 1.25rem;
  }
}
/* CATEGORY BANNER */
.category-banner-wrapper {
  padding-block: 3rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.category-banner {
  position: relative;
  figure {
    border-radius: var(--small-radius);

    img {
      min-height: 20rem;
      border-radius: var(--small-radius);
    }
  }
  .category-banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6.4%;
    span {
      color: var(--secondary-text-color);
      display: inline-block;
    }
    h5 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: var(--weight-bold);
      margin-bottom: 8px;
      width: fit-content;
    }
    h3 {
      font-size: 2.4rem;
      font-weight: var(--weight-extra-bold);
      text-transform: uppercase;
      width: 220px;
      margin-bottom: 1.4rem;
    }
    p {
      font-size: 1.4rem;
      font-weight: var(--weight-bold);
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.125);
  }
}
.first-banner {
  .category-banner-content {
    color: #262626;
  }
}
.second-banner {
  .category-banner-content {
    color: #ffffff;
  }
}
.deals-wrapper {
  margin-block-end: 4rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .product-wrapper {
    padding: 20px 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--small-radius);
    transition: border-color var(--motion-duration-short-2);

    &:hover {
      border-color: var(--main-text-color);
    }
  }
  .slick-slider {
    .custom-arrow {
      display: block;
      position: absolute;
      top: -56px;
      font-size: 1.25rem;
      width: 18px;
      height: 18px;

      &.prev-arrow {
        right: 0;
      }
      &.next-arrow {
        right: 2rem;
      }

      svg {
        font-size: 1.4rem;
      }
    }

    &::before {
      display: none;
    }
  }
}
.head-title {
  padding: 0 3rem 1.8rem 0;
  margin-block-end: 2rem;
  position: relative;
  font-size: 1.8rem;
  font-weight: var(--weight-extra-bold);

  &::after {
    content: '';
    background-color: var(--border-color);
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
  }
}

.product-wrapper:nth-child(2) .head-title {
  margin-block-end: 1rem;
}
.best-selling-list {
  .product {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-block: 1rem;

    span {
      display: inline-block;
    }
    .product-details {
      .product-name {
        font-size: 1.3rem;
        line-height: 2.25rem;
      }

      .rating-item {
        svg {
          font-size: 1.3rem;
        }
      }
      .product-price {
        margin-block-start: 0.6rem;
        font-size: 1.4rem;
        font-weight: var(--weight-bold);

        ins {
          margin-right: 0.8rem;
        }
        del {
          color: var(--text-color);
        }
      }
    }
  }
}
/* CATEGORY SECTION */
.category-section {
  background: var(--section-background);
  padding-block: 5rem;

  .title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }

  .slick-track {
    display: flex;
    .slick-slide:not(:last-child) {
      margin-right: 10px;
    }
    .slick-slide {
      outline: none;
      border: none;
    }
  }
  .category-item {
    position: relative;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    &:hover {
      .category-media img {
        transform: scale(1.1);
      }
      .category-content {
        .category-name {
          transform: translateY(-100%);
          z-index: -1;
        }
        .shop-btn {
          transform: translate(-50%, -100%);
        }
      }
    }
    .category-media img {
      transition: transform var(--motion-duration-short-2);
    }
    .category-content {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 1rem;
      text-align: center;
      overflow: hidden;
      height: 25px;

      :where(h4, a) {
        font-weight: var(--weight-extra-bold);
        font-size: 1.4rem;
        text-transform: uppercase;
        line-height: 1.45;
        transition: var(--motion-duration-short-2);
      }
      .category-name {
        color: #262626;
        transform: translateY(0);
      }
      .shop-btn {
        color: var(--main-text-color);
        position: absolute;
        left: 50%;
        transform: translate(-50%, 100%);
        width: max-content;

        &:hover {
          &::after {
            width: 100%;
            left: 50%;
          }
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background-color: var(--main-text-color);
          transition: var(--motion-duration-short-2);
          position: inherit;
          left: 0;
          bottom: -4px;
          transform: translateX(-50%);
        }
      }
    }
  }
}
