.shop-default-banner {
  padding: 4rem 3rem;
  border-radius: var(--small-radius);

  .default-banner-content {
    position: relative;
    z-index: 1;

    .banner-subtitle {
      font-size: 2rem;
      color: #232323;
      font-weight: var(--weight-bold);
      margin-bottom: 0.2rem;
    }

    .banner-title {
      font-size: 2.8rem;
      text-transform: uppercase;
      font-weight: var(--weight-extra-bold);
      margin-bottom: 2rem;
    }
    .btn {
      width: fit-content;
      font-size: 1rem;
      padding-inline: 1.8rem;
    }
  }
}
/* SHOP DEFAULT BRANDS */
.shop-default-brands {
  padding-block: 4rem;
}
[data-scheme='dark'] .shop-default-brands img {
  filter: invert(1) brightness(2);
}
/* CATEGORY */
.shop-default-category {
  padding-block-start: 4rem;
  padding-block-end: 3rem;
  margin-block-end: 3rem;

  .category {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .category-media {
    border-radius: var(--circle-radius);
    transition: var(--motion-duration-short-2);
    overflow: hidden;

    &:hover {
      box-shadow: var(--box-shadow);
      img {
        transform: scale(1.1);
      }
    }
    img {
      border-radius: var(--circle-radius);
      transition: var(--motion-duration-short-2);
    }
  }
  .category-content {
    margin-top: 1.7rem;
    h4 {
      font-size: 1.4rem;
      text-transform: capitalize;
      transition: var(--motion-duration-short-2);
    }
  }

  .category:hover h4 {
    color: var(--main-text-color);
  }
}

.section {
  position: relative;
}
.shop-content {
  position: relative;

  .toolbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  :where(.toolbox-left, .toolbox-right) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .btn-group {
    display: none;
  }

  .toolbox-left {
    :where(.filter-btn span, label) {
      display: none;
    }
  }
  .filter-btn {
    padding: 1rem 1rem;
    border: 2px solid var(--main-text-color);
    border-radius: var(--small-radius);

    svg {
      font-size: 2rem;
      vertical-align: middle;
      color: var(--main-text-color);
      transition: var(--motion-duration-short-2);
    }

    &:hover {
      background-color: var(--main-text-color);
      border-color: var(--main-text-color);
      svg {
        color: #ffffff;
      }
    }
  }
  .main-content {
    border-top: 1px solid var(--border-color);
    padding-block-start: 3rem;
  }
  /* PRODUCTS */
  .products-wrapper {
    margin-block-end: 2rem;

    .products-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.4rem;
      padding-block-start: 2rem;
    }
    .popular-product .product-media {
      border-radius: var(--small-radius);
    }
  }
  .popular-product .description,
  .popular-product .list-action {
    display: none;
  }

  /* PAGINATION */
  .toolbox-pagination {
    flex-direction: column;
    padding-block: 2.5rem;
    border-top: 1px solid var(--border-color);

    .showing-info {
      font-size: 1.2rem;
      line-height: 2.4rem;
      width: 100%;
      margin-block-end: 1rem;
      text-align: center;

      span {
        display: inline-block;
        margin-inline: 1rem;
      }
    }

    .pagination-list {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      .pagination {
        display: flex;
        gap: 0.6rem;

        .pagination-item {
          display: grid;
          place-content: center;
          transition: var(--motion-duration-short-2);
          border: 1px solid transparent;
          border-radius: var(--small-radius);

          button {
            padding-block: 0.3rem;
            padding-inline: 0.6rem;
            color: var(--default-text-color);
          }
          &.active {
            border: 1px solid var(--border-color);
          }
          &:hover {
            border-color: var(--border-color);
          }
        }
      }

      .btn {
        height: auto;
        padding: 0.6rem 1rem;
        gap: 0.6rem;
        text-transform: capitalize;
        font-size: 1.4rem;
        border: 1px solid transparent;
        color: var(--default-text-color);

        &:hover {
          border-color: var(--border-color);
        }
        &.prev-btn {
          margin-inline-end: 0.5rem;
        }
        &.next-btn {
          margin-inline-start: 0.5rem;
        }
      }
    }
  }
}

/* ASIDE */
aside .sidebar-close {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 24;
}
.sidebar-content {
  width: 27rem;
  padding: 2rem;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 24;
  height: 100%;
  background-color: var(--site-background);
  border-right: 1px solid var(--border-color);
  transform: translateX(-100%);
  transition: transform var(--motion-duration-medium-1);

  &.active {
    transform: translateX(0);
  }

  .filter-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 0.8rem;
    padding-block-end: 1.7rem;

    p {
      font-size: 1.6rem;
      font-weight: var(--weight-extra-bold);
    }
    button {
      font-size: 1.4rem;
    }
  }

  .widget {
    .widget-title {
      text-transform: capitalize;
      font-size: 1.6rem;
      position: relative;
      padding: 1.4rem 2.5rem 1.4rem 0;
      cursor: pointer;
      border-bottom: 1px solid var(--border-color);

      button {
        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 1.2rem;
          height: 0.2rem;
          background-color: var(--primary-color);
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          transition: var(--motion-duration-medium-1);
        }
        &::before {
          transform: translate(-50%, -50%) rotate(90deg);
          opacity: 1;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
      &.collapsed {
        & > ::before {
          transform: translate(-50%, -50%) rotate(0);
          opacity: 0;
        }
        & > ::after {
          transform: translate(-50%, -50%) rotate(-180deg);
        }

        /* COLLAPSED BODY */
        & + .widget-body {
          max-height: 1000px;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .widget-body {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: var(--motion-duration-short-2);

      .filter-item {
        padding-block: 1.25rem;
        font-size: 1.3rem;
        font-weight: var(--weight-medium);
        display: flex;
        gap: 1rem;

        a {
          transition: var(--motion-duration-short-2);
          &:hover {
            color: var(--main-text-color);
          }
        }
      }

      label {
        display: flex;
        align-items: center;
        position: relative;
        input {
          opacity: 1;
        }
      }
    }
  }
}

.sidebar-content {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--alpha-10);
  }
}
.shop .slick-slider .slick-track {
  display: flex;
  gap: 2rem;
}
.shop .slick-slider .slick-dots {
  bottom: -2.5rem !important;
}
@media only screen and (min-width: 768px) {
  .shop-content .products-wrapper .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .shop-content .toolbox-left {
    gap: 2.8rem;
  }
  .shop-content .toolbox-left :where(.filter-btn span, label) {
    display: block;
  }
  .shop-content .filter-btn {
    padding: 1rem 1.5rem 1rem 1rem;
  }
  select.orderby-list {
    max-width: 16rem;
  }
  .toolbox-item {
    display: flex;
    align-items: center;
  }
  .toolbox-item label {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-inline-end: 1rem;
  }
  .shop-content .toolbox-left span {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .shop-content .btn-group {
    display: flex;
  }
  .shop-content .btn-group .small-btn {
    width: 3.4rem;
  }
  .shop-content .btn-group .small-btn svg {
    color: var(--default-text-color);
  }
  .shop-content .btn-group .small-btn.active svg {
    color: var(--primary-color-color);
  }
}
@media only screen and (min-width: 992px) {
  .shop-content .products-wrapper .products-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .shop-content .products-wrapper .products-list.list {
    grid-template-columns: 1fr;

    .popular-product {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
    }
    .product-media {
      max-width: 26rem;
      flex: 0 0 26rem;
    }
    .product-details {
      align-items: flex-start;
    }
    .product-details :where(.product-price, .product-name a) {
      font-size: 1.6rem;
    }
    .product-price {
      justify-content: flex-start;
    }
    .product-name {
      text-align: left;
    }
    .product-action {
      display: none;
    }
    .popular-product .description,
    .popular-product .list-action {
      display: flex;
    }
  }

  .popular-product .category {
    font-size: 1.1rem;
    font-weight: var(--weight-medium);
    text-transform: capitalize;
    color: var(--default-text-color);
    transition: var(--motion-duration-short-2);

    &:hover {
      color: var(--main-text-color);
    }
  }
  .popular-product .description p {
    font-size: 1.4rem;
    color: var(--default-text-color);
    line-height: 1.8rem;
  }

  .popular-product .list-action {
    margin-block-start: 2rem;
  }
  .popular-product .list-action .cart-btn {
    margin-inline-end: 1rem;
    padding-inline: 2rem;

    svg {
      margin-inline-end: 0.5rem;
    }
  }
  .shop-content .filter-btn {
    display: none;
  }
  .shop-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3rem;
    border-top: 1px solid var(--border-color);
  }
  .sidebar-content .filter-action {
    padding-block-start: 4rem;
  }
  .sidebar-content::-webkit-scrollbar {
    width: 0;
  }

  .sidebar-content {
    width: 32rem;
    padding: 0;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 20;
    position: relative;
    border-inline-end: none;
  }
  .shop-content .main-content {
    grid-column: 2 / 9;
    border-block-start: none;
  }
}
@media only screen and (min-width: 1199px) {
  .shop-content .products-wrapper .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
